.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); 
  padding: 20px;
  box-sizing: border-box;
}

.dark-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #2a2a2a; 
  border-radius: 10px;
  border: 1px solid #444;
}


::ng-deep .mat-mdc-card-title {
  color: #ffffff !important;
  font-weight: bold;
}
::ng-deep .mat-mdc-card-subtitle {
  color: #bbbbbb !important;
}

.form-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}


::ng-deep .mdc-text-field--outlined {
  background-color: #ffffff;
  border-radius: 4px;
}
::ng-deep .mat-mdc-form-field-label {
  color: #666666 !important;
}
::ng-deep .mat-mdc-input-element {
  color: #000000 !important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none; 
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.btn-green {
  background-color: #32cd32 !important; /* Verde ChronosFit */
  color: #ffffff !important;
  border-radius: 25px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
}